[submodule "polytempo4live"]
	path = polytempo4live
	url = https://github.com/AdrianArtacho/synclab_poly4live.git
[submodule "transforms"]
	path = transforms
	url = https://github.com/AdrianArtacho/synclab_transForms.git
[submodule "polytempoWeb"]
	path = polytempoWeb
	url = https://github.com/AdrianArtacho/polytempoWeb
[submodule "polenium"]
	path = polenium
	url = https://github.com/AdrianArtacho/synclab_polenium.git
[submodule "polyWeb"]
	path = polyWeb
	url = https://github.com/philippekocher/polytempoWeb.git
[submodule "FILES/poly_audiotest"]
	path = FILES/poly_audiotest
	url = https://github.com/AdrianArtacho/poly_audiotest.git
[submodule "PolyServer_index"]
	path = PolyServer_index
	url = https://github.com/AdrianArtacho/PolyServer_index.git
[submodule "FILES/poly_test"]
	path = FILES/poly_test
	url = https://github.com/AdrianArtacho/poly_test.git
[submodule "FILES/poly_mut"]
	path = FILES/poly_mut
	url = https://github.com/AdrianArtacho/poly_mut.git
[submodule "FILES/poly_jetzt"]
	path = FILES/poly_jetzt
	url = https://github.com/AdrianArtacho/poly_jetzt.git
[submodule "FILES/poly_tallis"]
	path = FILES/poly_tallis
	url = https://github.com/AdrianArtacho/poly_tallis.git
[submodule "FILES/poly_exampleproject"]
	path = FILES/poly_exampleproject
	url = https://github.com/AdrianArtacho/poly_exampleproject.git
