[submodule "polytempoWeb"]
	path = polytempoWeb
	url = https://github.com/AdrianArtacho/polytempoWeb
[submodule "FILES/poly_tallis"]
	path = FILES/poly_tallis
	url = https://github.com/AdrianArtacho/poly_tallis.git
[submodule "FILES/poly_Verge_SAX"]
	path = FILES/poly_Verge_SAX
	url = https://github.com/AdrianArtacho/poly_Verge_SAX.git
[submodule "FILES/poly_Verge_VLC"]
	path = FILES/poly_Verge_VLC
	url = https://github.com/AdrianArtacho/poly_Verge_VLC.git
[submodule "FILES/poly_tallis_backup"]
	path = FILES/poly_tallis_backup
	url = https://github.com/AdrianArtacho/poly_tallis_backup.git
[submodule "FILES/poly_Multitudes"]
	path = FILES/Multitudes/poly_Multitudes
	url = https://github.com/AdrianArtacho/poly_Multitudes.git
[submodule "polyServer"]
	path = polyServer
	url = https://github.com/AdrianArtacho/polyServer.git
[submodule "TransForms"]
	path = TransForms
	url = https://github.com/AdrianArtacho/synclab_transForms.git
[submodule "FILES/Showing/poly_Showing"]
	path = FILES/Showing/poly_Showing
	url = https://github.com/AdrianArtacho/poly_Showing.git
[submodule "FILES/tests/poly_audiotest"]
	path = FILES/tests/poly_audiotest
	url = https://github.com/AdrianArtacho/poly_audiotest.git
[submodule "FILES/disarray/poly_dis15a"]
	path = FILES/disarray/poly_dis15a
	url = https://github.com/AdrianArtacho/poly_dis15a.git
[submodule "FILES/disarray/poly_dis15b"]
	path = FILES/disarray/poly_dis15b
	url = https://github.com/AdrianArtacho/poly_dis15b.git
[submodule "FILES/tests/poly_exampleproject"]
	path = FILES/tests/poly_exampleproject
	url = https://github.com/AdrianArtacho/poly_exampleproject.git
[submodule "FILES/tests/poly_experiment5"]
	path = FILES/tests/poly_experiment5
	url = https://github.com/AdrianArtacho/poly_experiment5.git
[submodule "FILES/InTouch/poly_InTouch_SAX"]
	path = FILES/InTouch/poly_InTouch_SAX
	url = https://github.com/AdrianArtacho/poly_InTouch_SAX.git
[submodule "FILES/InTouch/poly_InTouch_VLC"]
	path = FILES/InTouch/poly_InTouch_VLC
	url = https://github.com/AdrianArtacho/poly_InTouch_VLC.git
[submodule "FILES/Mut/poly_jetzt"]
	path = FILES/Mut/poly_jetzt
	url = https://github.com/AdrianArtacho/poly_jetzt.git
[submodule "FILES/tests/poly_LetterPieceOne"]
	path = FILES/tests/poly_LetterPieceOne
	url = https://github.com/AdrianArtacho/poly_LetterPieceOne.git
[submodule "FILES/Mut/poly_mut"]
	path = FILES/Mut/poly_mut
	url = https://github.com/AdrianArtacho/poly_mut.git
[submodule "FILES/Mut/poly_mut0"]
	path = FILES/Mut/poly_mut0
	url = https://github.com/AdrianArtacho/poly_mut0.git
[submodule "FILES/PulseIntervals/poly_PulseIntervals_SAX"]
	path = FILES/PulseIntervals/poly_PulseIntervals_SAX
	url = https://github.com/AdrianArtacho/poly_PulseIntervals_SAX.git
[submodule "FILES/PulseIntervals/poly_PulseIntervals_VLC"]
	path = FILES/PulseIntervals/poly_PulseIntervals_VLC
	url = https://github.com/AdrianArtacho/poly_PulseIntervals_VLC.git
[submodule "FILES/tests/poly_test"]
	path = FILES/tests/poly_test
	url = https://github.com/AdrianArtacho/poly_test.git
[submodule "FILES/Synapse/poly_Synapse"]
	path = FILES/Synapse/poly_Synapse
	url = https://github.com/AdrianArtacho/poly_Synapse.git
[submodule "FILES/Verge/poly_Verge_KEY"]
	path = FILES/Verge/poly_Verge_KEY
	url = https://github.com/AdrianArtacho/poly_Verge_KEY.git
